.favourites-page {
    padding: 20px;
    text-align: center;
}

.empty-favourites {
    margin-top: 50px;
    color: #6c757d;
}

.empty-favorite-icon {
    font-size: 80px;
    color: #ff6347; /* Tomato color for the icon */
}

.empty-message {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.explore-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.explore-link:hover {
    background-color: #0056b3;
}
