/* Active link styling with beautiful background */
.active-nav-link {
    color: #ffffff !important;
    background-color: #ff5722;
    font-weight: bold;
    background: linear-gradient(135deg, #ff9800 0%, #ff5722 100%);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 87, 34, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* On hover, slightly increase shadow and change background */
  .active-nav-link:hover {
    background: linear-gradient(135deg, #ff5722 0%, #ff9800 100%);
    box-shadow: 0 6px 15px rgba(255, 87, 34, 0.7);
  }
  
  /* Regular link hover effect */
  .nav-link:hover {
    color: #ff9800 !important;
    text-decoration: none;
  }
  
  /* To handle transition effect between regular and active states */
  .nav-link {
    transition: all 0.3s ease;
  }
  

.nav-link .me-2 {
    font-size: 1.5rem;
    color: #ffc107;
  }
  
  .nav-link:hover .me-2 {
    color: #ff9800;
  }
  .lang-toggle-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem; /* Adds space between button and site name */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .lang-toggle-btn:hover {
    background-color: #555;
    color: #f0ad4e;
    border-radius: 5px;
  }
  
  
  /* .lang-info {
    color: #f0ad4e;
    font-size: 0.9rem;
    margin-right: 1.5rem; 
  }
  .navbar-brand {
    font-family: 'Roboto', sans-serif; 
    font-size: 2rem;
    font-weight: bold;
    color: #ff6347; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    background: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: transform 0.3s ease;
  }
  
  .navbar-brand:hover {
    transform: scale(1.1); 
  } */

  /* navbar.css */
/* .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
  position: relative;
}

.navbar-brand:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ff0099, #493240);
  z-index: -1;
  filter: blur(15px);
  opacity: 0.8;
} */
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ff6347;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover {
  color: #ff4500;
  transform: scale(1.1) rotate(-3deg); /* Adds a slight rotation effect */
}